@import '@theme';

.container {
  margin-top: $spacing-20;
  margin-bottom: $spacing-20;
}

.route-container {
  text-decoration: underline;

  color: $cl-text;
}

.separator {
  user-select: none;
}

.bread-item {
  display: inline-block;
}
