@import '@theme';

.preshow-image {
  width: $spacing-128;
  height: $spacing-128;

  overflow: hidden;
}

.preshow-images-box {
  cursor: pointer;

  margin: $spacing-24 0;

  max-width: 550px;
  gap: $spacing-12;
}

.main-image-box {
  cursor: pointer;

  max-width: 550px;
  height: 550px;

  position: relative;

  transition: all 0.5s ease-in;
}

.left-arrow {
  user-select: none;

  position: absolute;
  top: 50%;
  left: $spacing-12;
  transform: translate(0, -50%);
  z-index: 2;

  font-size: $font-size-44;
  background-color: transparent;

  color: rgba($color: $cl-background, $alpha: 0.5);

  cursor: pointer;
}

.right-arrow {
  user-select: none;

  position: absolute;
  top: 50%;
  right: $spacing-12;
  transform: translate(0, -50%);
  z-index: 2;

  font-size: $font-size-44;
  background-color: transparent;

  color: rgba($color: $cl-background, $alpha: 0.5);

  cursor: pointer;
}

.dots-box {
  position: absolute;
  background-color: transparent;
  top: 90%;

  width: 550px;
  margin: $spacing-12 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dots {
  user-select: none;

  font-size: $font-size-30;
  cursor: pointer;

  color: rgba($color: $cl-background, $alpha: 0.5);

  &.selected {
    color: rgba($color: $cl-background, $alpha: 0.8);
  }
}
