@import '@theme';

.products-container {
  min-height: $h-container-content + $h-container-footer;
}

.grid-container {
  display: grid;
  column-gap: $spacing-64;
  row-gap: $spacing-64;

  grid-template-columns: repeat(4, 1fr);

  @include sm-desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}
