@import '../../../styles/theme.module.scss';

$columns: 9;

// TODO: grid css trick repeat(auto-fit, minmax())

.grid {
  background-color: inherit;

  display: grid;
  column-gap: $spacing-48;
  row-gap: $spacing-96;

  @for $i from 1 through $columns {
    &.columns-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }

  &.center-v {
    align-items: center;
  }
}
