@import '@theme';

.container {
  padding: $spacing-48 $spacing-32;
}

.product-images-box {
  padding: $spacing-48 0;
}

.product-images-slug-box {
  width: 300px;
  height: 450px;
}

.content-height {
  height: $h-container-content + $h-container-footer;
}
