// Colors
$cl-primary: #b93c32;
$cl-primary-dark-1: #943028;
$cl-primary-dark-2: #6f241e;
$cl-primary-light-1: #c05047;
$cl-primary-light-2: #d58a84;
$cl-primary-light-3: #e3b1ad;
$cl-primary-light-4: #f1d8d6;

$cl-background: #f6f5f6;
$cl-text: #0a0a0a;
$cl-small-text: #232323;
$cl-text-shadow: #6c6c6c;
$cl-text-primary: #37120f;
$cl-secundary: #00007b;

// Screen Sizes
$screen-xm: 32rem;
$screen-sm: 48rem;
$screen-md: 77rem;
$screen-lg: 102rem;
$screen-xl: 130rem;

// main hero special rem
$screen-main-hero: 135rem;

// Spacings
$spacing-2: 0.2rem;
$spacing-4: 0.4rem;
$spacing-8: 0.8rem;
$spacing-12: 1.2rem;
$spacing-16: 1.6rem;
$spacing-20: 2rem;
$spacing-24: 2.4rem;
$spacing-32: 3.2rem;
$spacing-48: 4.8rem;
$spacing-64: 6.4rem;
$spacing-80: 8rem;
$spacing-96: 9.6rem;
$spacing-128: 12.8rem;

//Borders radius
$br-1: 23px;

// Font weights
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-800: 800;
$fw-900: 900;

// Font sizes
$font-size-10: 1rem;
$font-size-12: 1.2rem;
$font-size-14: 1.4rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-24: 2.4rem;
$font-size-30: 3rem;
$font-size-36: 3.6rem;
$font-size-44: 4.4rem;
$font-size-52: 5.2rem;
$font-size-62: 6.2rem;
$font-size-74: 7.4rem;
$font-size-86: 8.6rem;
$font-size-98: 9.8rem;

// Font line heights
$font-lineHeight-1: 1;
$font-lineHeight-2: 1.05;
$font-lineHeight-3: 1.1;
$font-lineHeight-4: 1.2;

$f-ls-002: -2px;
$f-ls-008: -8px;
$f-ls-02: -0.2px;
$f-ls-75: 0.75px;
$f-ls-120: 1.2px;

// Font families
$font-type-text: 'Courier Prime', monospace;
$font-type-title: 'Lexend Zetta', sans-serif;

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

// how to use mixin: import as "mixin". @include mixin.desktop {...css}
