@import '@theme';

.container {
  max-width: $screen-xl;

  padding: 0 0;
  margin: 0 auto;
}

.footer {
  padding: $spacing-80 $spacing-32;

  background-color: $cl-text;

  div,
  p,
  a,
  address,
  svg {
    background-color: inherit;
    color: $cl-background;

    font-style: normal;
  }
}

.street-text {
  line-height: $font-lineHeight-4;
}

.logo-img {
  stroke: $cl-background;
  fill: $cl-background;

  max-width: $screen-sm;
}

.footer-link:link,
.footer-link:visited {
  background-color: $cl-text;
  text-decoration: none;

  color: $cl-background;

  &:hover {
    text-decoration: underline;
  }
}

.media-link {
  height: $spacing-24;
  width: $spacing-24;
}

.copyright {
  margin-top: auto;

  line-height: $font-lineHeight-4;
}

.footer-heading {
  user-select: none;

  font-size: $font-size-18;
  font-weight: $fw-500;

  margin-bottom: $spacing-32;
}

.footer-box {
  display: flex;

  flex-direction: column;
  gap: $spacing-24;

  @include tablets {
    grid-row-start: 2;
  }
}

.logo-box {
  display: flex;

  flex-direction: column;
  gap: $spacing-24;

  @include tablets {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
  }
}

.footer-grid {
  width: 100%;
  height: 100%;

  display: grid;

  column-gap: $spacing-48;
  row-gap: $spacing-96;

  grid-template-columns: repeat(4, 1fr);

  @include tablets {
    grid-template-columns: repeat(2, 1fr);
  }
}
