@import '@theme';

.button {
  font-family: $font-type-title;
  font-size: $font-size-20;
  text-decoration: none;
  letter-spacing: normal;

  display: inline-block;

  background-color: $cl-text;
  color: $cl-background;

  padding: $spacing-16 $spacing-32;

  border: none;
  cursor: pointer;

  box-shadow: inset 0 0 0 3px $cl-text;
  transition: all 0.3s ease-in;

  &.ouline {
    background-color: transparent;
    color: $cl-text;
  }
}
