@import '@theme';

.hero-container {
  max-width: $screen-main-hero;
}

.products {
  padding: 0 $spacing-32;

  display: grid;
  column-gap: $spacing-32;
  row-gap: $spacing-48;

  grid-template-columns: repeat(4, 1fr);

  @include sm-desktop {
    grid-template-columns: repeat(3, 1fr);

    row-gap: $spacing-32;
  }
}
