@import '../../../styles/theme.module.scss';

.hero {
  padding: $spacing-48 0 $spacing-96 0;
}

.grid-box {
  align-items: center;
  max-width: $screen-main-hero;
}

.headline-text {
  color: $cl-text !important;
  font-size: $font-size-86;
  font-weight: $fw-800;
  line-height: $font-lineHeight-1;
  font-family: $font-type-title;
  letter-spacing: $f-ls-008;
  user-select: none;
}

.headline-box {
  max-width: 683px;
}

.hero-buy-button {
  margin-top: $spacing-80;
  margin-right: $spacing-16;
}

.hero-img {
  width: 100%;
  max-height: $screen-md;
  user-select: none;
}
