@import '@theme';

.ghost-icon {
  margin-left: $spacing-12;

  background-color: inherit;
  fill: $cl-background;

  width: $spacing-16;
  height: $spacing-16;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  font-size: $font-size-14;
  font-weight: 600;

  padding: $spacing-8 $spacing-24;

  color: $cl-background;
  background-color: $cl-text;

  cursor: pointer;

  min-width: 30rem;
}
