@import '@theme';

.dropdown {
  display: inline;
  position: relative;
}

.trigger-button {
  cursor: pointer;
  padding: $spacing-12;
  text-decoration: underline;
  font-size: $font-size-16;
  font-weight: 600;
  border: none;
}

.menu-item-button {
  padding: $spacing-12;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 0;

  border: 1px solid grey;

  z-index: 9;
}

.menu > li {
  margin: 0;
  padding: 0;

  background-color: white;
  font-size: $font-size-16;

  transition: 0.3s ease-in-out;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;

  text-align: left;

  background: none;
  color: inherit;
  border: none;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
