@import '@theme';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-16;
}

.nav-box {
  list-style: none;

  display: flex;
  align-items: center;
  gap: $spacing-32;
}

.logo-img {
  height: $spacing-48;
  fill: $cl-text;
  stroke: $cl-text;

  cursor: pointer;
}

.nav-link,
.nav-link:visited,
.nav-link:link {
  text-decoration: none;

  font-size: $font-size-18;
  font-weight: $fw-800;

  color: $cl-text;

  cursor: pointer;
  transition: all 0.25s;
}

.nav-link:hover,
.nav-link:active {
  color: $cl-primary-dark-1;
}

.nav-link-button {
  padding: $spacing-12 $spacing-32 !important;
  font-size: $spacing-16 !important;
}
