@import '@theme';

.svg-ghost {
  width: $spacing-32;
  height: $spacing-32;

  fill: $cl-text-primary;

  margin: 0 $spacing-96;
  // background-color: $cl-primary-light-1;
}

.separator-box {
  margin: $spacing-96 0;
  width: 100%;
  padding: $spacing-32;
  // background-color: $cl-primary-light-1;
}

.separator-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
