@import '@theme';

.preshow-image {
  width: $spacing-128;
  height: $spacing-128;

  user-select: none;

  overflow: hidden;

  margin-right: $spacing-24;

  .preshow-image__img {
    object-fit: cover;
    user-select: none;
  }
}

.preshow-images-box {
  user-select: none;
  display: flex;
  cursor: pointer;
  margin: $spacing-24 0;
  max-width: 550px;
}

.img-box {
  cursor: pointer;

  max-width: 550px;
  height: 550px;

  position: relative;

  transition: all 0.5s ease-in;

  .img-box__img {
    object-fit: cover;
  }

  @include tablets {
    height: 480px;
    max-width: 480px;
  }

  @include sm-tablets {
    height: 410px;
    max-width: 410px;
  }

  @include xm-tablets {
    width: 100%;
    max-width: 100%;

    border: 1px solid $cl-text;
  }
}

.left-arrow {
  user-select: none;

  position: absolute;
  top: 50%;
  left: $spacing-12;
  transform: translate(0, -50%);
  z-index: 2;

  background-color: $cl-background;

  color: rgba($color: $cl-text, $alpha: 0.8);

  height: 28px;
  width: 28px;

  border-radius: 50px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.right-arrow {
  user-select: none;

  position: absolute;
  top: 50%;
  right: $spacing-12;
  transform: translate(0, -50%);
  z-index: 2;

  background-color: $cl-background;

  color: rgba($color: $cl-text, $alpha: 0.8);

  height: 28px;
  width: 28px;

  border-radius: 50%;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.arrow {
  width: 100%;
  height: 100%;

  border-radius: 50%;

  font-size: $font-size-24;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots-box {
  position: absolute;
  background-color: transparent;
  top: 90%;

  width: 100%;
  margin: $spacing-12 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dots {
  user-select: none;

  font-size: $font-size-30;
  cursor: pointer;

  color: rgba($color: $cl-text, $alpha: 0.5);

  &.selected {
    color: rgba($color: $cl-text, $alpha: 1);
  }
}
