@import '@theme';

.hero {
  height: $screen-md;
}

.grid-box {
  width: 100%;
  height: 100%;

  align-items: center;
  max-width: $screen-main-hero;
  max-height: 100%;

  @include sm-desktop {
    max-width: $screen-xl;
  }
}

.headline-text {
  color: $cl-text !important;
  font-size: $font-size-86 !important;
  font-weight: $fw-800 !important;
  line-height: $font-lineHeight-1 !important;
  letter-spacing: -8px !important;
  user-select: none !important;

  @include sm-desktop {
    font-size: $font-size-74 !important;
  }
}

.hero-buy-button {
  margin-top: $spacing-80;
  margin-right: $spacing-16;
}

.hero-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  user-select: none;
}
