@import '@theme';

.container {
  margin: $spacing-64 0;

  h3 {
    margin: $spacing-16 0;
  }

  .container__grid {
    display: grid;
    column-gap: $spacing-32;
    row-gap: $spacing-48;

    grid-template-columns: repeat(4, 1fr);

    @include tablets {
      grid-template-columns: repeat(3, 1fr);

      row-gap: $spacing-32;
    }

    @include xm-tablets {
      grid-template-columns: repeat(2, 1fr);

      row-gap: $spacing-24;
    }

    @include mobiles {
      grid-template-columns: repeat(1, 1fr);

      row-gap: $spacing-20;
    }
  }
}
